.wrapper {
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: block;
    margin: 0 auto;
    width: 1030px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 20px;
}
.header-logo-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.header-logo-text{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.header-logo-text-first {
    font-weight: 700;
    font-size: 29px;
    color: #fff;
}
.header-logo-text-second {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
} 
.header-contact{
    text-align: end;
    display: flex;
    flex-direction: column;
    
    
}
.header-contact-mail {
    margin-bottom: 18px;
}
.header-contact-numb,
.header-contact-mail{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #fff;
}
.header-contact-mail:hover,
.header-contact-numb:hover{
    color: #F26522;
}
.header-contact-mail:focus,
.header-contact-numb:focus
{
    color: #F26522;
}


.header-logo-link:hover .header-logo-img
{
    content: url("../img/logo\ 2.png");
}
.header-logo-link:hover .header-logo-text p{
    color: #F26522;
}

.header-logo-description .header-logo-text-first,
.header-logo-description .header-logo-text-second {
    color: #F26522;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 78px;
    margin-bottom: 50px;
    
    
  
}
.grid-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition-duration: 1s;
}
.border-img {
    border: 4px solid white;
    border-image: linear-gradient(to right, #fff, rgb(122, 121, 121), #000) 1;
}
.main-post{
    position: relative;
}
.details .summary {
    list-style: none;
}
.details .summary::after {
    content: "\003E";
    margin-left: 16px;
}
.details[open] .summary::after{
    content: "\02C5";
    margin-left: 16px;
}
.cart-details {
    background-color: #F26522;
    position: absolute;
    left:0;
    right: 0;
    padding: 18px 21px;
    display: none;
    animation-duration: 0.5s;
    animation-name: slieden;
}
@keyframes slieden {
    0% {
        margin-right: 50%;
        font-size: 0px;
    }
    100% {
        margin-right: 0%;
        font-size: 18px;
    }
}
.grid-item:hover .cart-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    color: #fff;
    
}
.grid-item:hover {
    color: #F26522;
    
}

.text-grid {
    margin-top: 20px;
}
.footer{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding-bottom: 16px;
}

