.wrapper{
    display: flex;
    align-items: center;
}
.table {

    border: 20px solid #3A4965;;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    
}
.table-row-first {
    background: #F2F2F2;
}
.table-row-second{
    background: #E3E3E3;
}
.table-titlle {
    font-weight: 700;
    font-size: 24px;
    line-height:1.2;
    text-align: center;
    
}

.pricing-plan{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.text-pricing{
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}
.pricing-first{
     font-weight: 700;
    font-size: 60px;
    line-height:0.4;
    padding-left: 32px;
}
.pricing-second{
position: absolute;
left: 134px;
top: -2px;
}

.table-row{
    border:  0px 0px 5px rgba(0, 0, 0, 0.27);

    

}
.table-column{
    height: 72px;
    width: 280px;
    vertical-align: middle;
    line-height: 1;
    border: 1px solid #d1d1d1;
    position: relative;
    

} 
.table-titlle-standart-pricing{
    background: #FAFAFA;
    
}
.table-titlle-standart {
    background: #89C331;
    border: none;
    color: #FFFFFF;
}
.table-titlle-ultimate{
    background: #F04A56;
    border: none;
    color: #FFFFFF;
}
.table-titlle-premium{
    background: #20807C;
    border: none;
    color: #FFFFFF;
}
.button{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    
}
.button-column{
    height: 100px;
}
.button-contact{
    background: #E3E3E3;
    
    
}
.button-link-contact{
    background: #484848;
    padding: 16px 46px;
    border-radius: 4px;
    border-bottom: 8px solid  #404040;
}

.button-standart{
    background: #F2F2F2;
}
.button-link-stndart{
    background: #89C331;
    padding: 16px 56px;
    border-radius: 4px;
    border-bottom: 8px solid #79B027;;
}
.button-ultimate{
    background: #FAFAFA;
}
.button-link-ultimate{
    background: #F04A56;
    padding: 16px 56px;
    border-radius: 4px;
    border-bottom: 8px solid #DF3A46;;
}
.button-premium{
    background: #F2F2F2;
}
.button-link-premium{
    background: #20807C;
    padding: 18px 56px;
    border-radius: 4px;
    border-bottom: 8px solid #16736F;
}
.button-wrapper{
    display: block;
}
.button-wrapper::after{
    content: "";
    border-bottom: 3px solid #000;
}