.g-container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    margin-top: 63px;
}
.title-link {
    font-weight: 400;
    font-size: 80px;
    line-height: 1.1;
    text-decoration: none;
    color: #000000
}
.colored {
    color: rgb(117, 178, 240);
}
.header-menu {
    background-color: #35444F;
    margin-top: 38px;
    width: 1280px;
}
.header-menu .menu-list .menu-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400px;
    font-size: 24px;
    line-height: 28px;
}
.header-menu .menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    margin-top: 38px;
    margin-bottom: 48px;
    list-style: none;
    border: 1px solid #fff;
    padding: 0;
}
.header-menu .menu-item {
    padding-top: 26px;
    padding-bottom: 19px;
    border-right:  1px solid #fff;
    padding-left: 32px;
    padding-right: 32px;
}
.header-menu .menu-item:first-child {
    border-left: 1px solid #fff;
}
.header-menu .menu-list .menu-item:hover,
.header-menu .menu-list .menu-item:focus {
    background: #222F3A;
}

.content {
    display: flex;
    flex-direction: row;
}
.content-left {
    margin-right: 52px;
    width: 344px;
    height: 398px;
}

.left-list {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    border: 1px solid #7d7d7d;
}

.left-item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 42px;
}
.left-item:last-child {
    padding-bottom: 29px;
}


.left-list .menu-link {
    text-decoration: none;
    color: #485863;
}


.content-left  .left-item:hover,
.content-left  .left-item:focus {
    background: #DBDBDB;
    font-weight: 400;
    font-size: 27px;
}

.content-right {
    display: flex;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #7d7d7d;
    align-items: center;
}

.text { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text .text-item {
    width: 885px;
    font-size: 18px;
    line-height: 1.3;
}

.text-item {
    margin-bottom: 34px;
}
.text-item:last-child {
    margin-bottom: 54px;
}

.text-item:first-child {
    margin-top: 36px;
}

.footer-menu {
    background-color: rgba(99, 105, 110, 0.48);;
    margin-bottom: 30px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 28px;
}

.footer-list .menu-link { 
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    text-decoration: none;
    color: #0C1927;
}

.footer-text {
    font-weight: 400;
    font-size: 24px;
    padding-left: 135px;
}
.footer-menu .menu-link:hover,
.footer-menu .menu-link:focus {
    color: #0071bd;
    border-bottom:1px solid #0071bd; }