<main class="main-section wrapper"> 
    
    <div class="main__welcome">
        <img src="./img/1.jpg" alt="">
    </div>

    <p class="section__name">-our Recent posts </p>
    <div class="main__posts">
       <div class="post__item">
           <div class="post-img">
            <img src="./img/2.jpg" alt="">   
           </div>
           <div class="post-content">
               <p class="post-title">Aenean Adipiscing Etiam Vestibulum</p>
               <p class="post-desc">Photography, Journal   /   9 Comments</p>
               <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
           </div>
       </div>
       <div class="post__item">
            <div class="post-img">
            <img src="./img/3.jpg" alt=""> 
            </div>
            <div class="post-content">
                <p class="post-title">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-desc">Photography, Journal   /   9 Comments</p>
                <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
         </div>
         <div class="post__item">
            <div class="post-img">
            <img src="./img/4.jpg" alt=""> 
            </div>
            <div class="post-content">
                <p class="post-title">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-desc">Photography, Journal   /   9 Comments</p>
                <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
         </div>
         <div class="post__item">
            <div class="post-img">
            <img src="./img/5.jpg" alt=""> 
            </div>
            <div class="post-content">
                <p class="post-title">Aenean Adipiscing Etiam Vestibulum</p>
                <p class="post-desc">Photography, Journal   /   9 Comments</p>
                <p class="post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
         </div>
       
    </div>
</main>

<div class="main__shots">
        <div class="main__shots wrapper">
            <div class="main__title">
                <div class="main-title-text">- Latest Instagram Shots</div>
                <div class="main-title-text">go to our instagram page -</div>
            </div>

            <div class="main-images">
                <div class="main-item"><img src="./img/6.jpg" alt=""></div>
                <div class="main-item"><img src="./img/7.jpg" alt=""></div>
                <div class="main-item"><img src="./img/8.jpg" alt=""></div>
                <div class="main-item"><img src="./img/9.jpg" alt=""></div>
            </div>
        </div>   
</div>