.background {
    background: #171717;
    width: 1920px;
}
.content {
    margin-left: 230px;
    margin-right: 230px;
}
.main-content {
    margin-top: 120px;

}
.colored {
   color: #fff;
}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px; 
}
    


.header-list {
   display: flex;
   align-items: center;
   color: #E4B564;
}
.header-item:first-child{
    padding-right: 40px;
}
.link-border {
    border: 1px solid #B08C4D;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    padding: 10px 25px 10px 26px;
}
.header-link {
    text-decoration: none;
    color: #E4B564
}
.title {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;

}
.text {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height:1.4;
    color: #FFF;
}

.wrapper-grid {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 468px);
margin-top: 42px;
margin-bottom: 160px;
gap: 25px;
}

.grid-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
}

.one-item  {
    grid-column: auto/ span 2;
    background: #634F2C;
}

.two-item {
    grid-column: auto/ span 2;
    padding-left: 40px;
    padding-right: 40px;
    background: #B4A385;
} 

.three-item{
    grid-column: auto/ span 2;
    background: #E4B564;
}

.four-item {
    grid-column: auto/ span 3;
    background: #635A4A;
}

.five-item {
    grid-column: auto/ span 3;
    background: #B08C4D;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 94px;
}

.flex-container-one {
    margin-right: 25px;
}

.flex-container-two {
    margin-right: 25px;
}

.flex-item{
    width: 467px;
}
.flex-text {
    padding-top: 44px;
    padding-left: 52px;
    padding-right: 114px;
}
.bolt-one{
    font-weight: bold;
    padding-left: 52px;
}
.bolt-two {
    font-weight: bold;
}


.flex-item-one {
    height: 313px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    background: #0E0E0E;
}
.flex-item-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    height: 560px;
    margin-top: 24px;
    color: #FFFFFF;
    background: #1F1F1F;

}
.flex-item-three {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
    height: 439px;
    background: #242424;

}
.flex-item-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    color: #000000;
    height: 405px;
    background: #E4B564;

}
.flex-item-five {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
    height: 255px;
    background: #1F1F1F;
    
}
.flex-item-six {
    height: 313px;
    background: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 26px;
    color: #FFFFFF;

    
}
.flex-item-seven {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 26px;
    color: #FFFFFF;
    height: 277px;
    background: #0A0909;
    
}

.footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 384px;
}

.footer-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.5;
    color: #FFFFFF;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 486px);
    margin-top: 72px;
    margin-bottom: 238px;
}
.grid-footer-item { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-item-one {
    background: #634F2C; }
.footer-item-two {
    display: flex;
    flex-direction: column;
    background: rgba(232, 210, 171, 0.76);
}
.footer-item-three {
    background: #E4B564;
}
.footer-item-four {
    background: #635A4A;
}
.footer-item-five {
    background: #B08C4D;
}
.footer-item-six {
    background: #634F2C;
}
.footer-link {
    font-weight: 600;
    font-size: 22px;
    line-height:1.2;
    padding: 16px 80px 60px 80px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.font-weight-text{
    font-weight: 300;
}

.button{
    display: block;
    font-size: 20px;
    background-color: #E4B564;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin-top: 18px;
   cursor: pointer;
}
button:hover{
    background-color: #B08C4D;
}

.light{
    background: rgb(244, 201, 150);
}
.dark{
    background: #000000;
}