
.footer {
    background-color: black;
    padding: 40px;
    .footer-wrapper {
        max-width:684px;
        margin: 0 auto;
        .footer__title {
            @include boldText;
            font-weight: 600;
            color: #FEFEFE;
            text-align: center;
            margin-bottom: 20px;
           
            @media screen and (max-width:320px){
                &{
                    font-size: 16px;
                }
            }
        }
        .footer__text {
            @include defaultText;
                font-size: 14px;
                color: #B9B9B9;
                text-align: center;
                margin-bottom: 20px;
                @media screen and (max-width:768px){
                    &{
                        font-size: 14px;
                    }
                }
                @media screen and (max-width:320px){
                    &{
                        font-size: 12px;
                    }
                }
            
        }
        .footer__contacts {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            .contact-item {
                &:not(:last-child){
                    margin-right: 8px;
                }
            }
        }
        
        .footer__copyright {
            @include defaultText;
                font-size: 14px;
                color: #B9B9B9;
                text-align: center;
                
                @media screen and (max-width:768px){
                    &{
                        font-size: 14px;
                    }
                }
                @media screen and (max-width:320px){
                    &{
                        font-size: 12px;
                    }
                }
        }
    }
   
}
