
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;       
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 3; 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header{
&__body{
    position: relative;
    justify-content: center;
    display: flex;
    height: 60px;
    align-items: center;
}
&__burger{
    display: none;
}
&__list {
    display: flex;
    position: relative;
    z-index: 3;
    padding-left: 0px;
}
&__list li{
    list-style: none;
    margin: 0px 20px 0px 0px;
}
&__link {
    
    @include defaultText;
            letter-spacing: 1.1px;
            font-size: 15px;
            padding: 5px 5px;
}
}
.content {
    margin-top: 100px;

    &__text {
        font-size: 16px;
        line-height: 25px;
    }
    &__text p{
        margin-bottom: 16px;
        
    }
}



@media (max-width:768px){
   
    .content {
        margin-top: 70px;
    }
    .header__body {
        justify-content: end;
        height: 56px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger::after,
    .header__burger::before{
      content: '';  
      background-color: rgb(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    .header__burger::before{
        top: 0;
        transition: all 0.3s ease;
    }
    .header__burger::after{
        bottom: 0;
        transition: all 0.3s ease;
    }
    .header__burger span{
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px; 
        transition: all 0.3s ease;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px
       
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
       
    }
    .header__burger.active  span{
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        transition: all 0.3s ease;
        top: -120%;
        right: 0;
        min-width: 208px;
        height: 60%;
       
        padding: 70px 20px 10px 10px;
        overflow: auto;
        background-color: #F5F5F5;
    }
    .header__menu.active{
        top: 0;
    }
   
    .header__list li:not(:last-child){
        margin: 0px 0px 25px 0px;
    }
    .header__list li:hover {  
        margin-left: 5px; 
    }
    .header__list{
        display: block;
        margin: 0px 0px 0px 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
}
.header__link-color{
    color: #57A4A4;
}