@mixin someMixin {
    font-size: 19px;
    color: $textColor;
    font-weight: 700;
}

@mixin footerColor {
    background-color: rgb(84, 107, 133);
    font-size: 40px;
    color: bisque;
}

@mixin defaultText{ 
    color: $textColor;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
}

@mixin boldText {
    color: $textColor;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin borderMixin{
    border-bottom: 2px solid rgb(200, 198, 198);
    padding-bottom: 20px;
}