
.content {
    width: 1280px;
    margin: 0 auto;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header {
    margin: 26px 0;
}
.menu-list {
    display: flex;
    Justify-content: center;
    margin: 0;
    padding: 0;
}
.menu-item:not(:last-child) {
    margin-right: 72px;
}
.menu-link {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    letter-spacing: 3.3px;
    color: #373737;
    margin-bottom: 38px;
}
.text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}
.text:last-child {
    margin-bottom: 66px ;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    border: none;
    color: aliceblue;
    background: #FF0000;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 82px;
}
.footer{
    padding-bottom: 29px;
}
.footer-text {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 2.4px;
    color: #373737;
}
