html{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url(../img/SectionsBackground/header-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    
}

.wrapper-header-menu{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.wrapper-menu{
    background: rgba(94, 93, 88, 0.6);
}

.logo-image{
    position: relative;
    width: 58px;
    height:67px;
    margin-right: 6px;
}
.logo-word{
position: absolute;
font-weight: 700;
font-size: 40px;
line-height: 0.8;
bottom: 17px;
left: 14px;
}

.header-menu{
    margin-left: 306px;
    display: flex;
    align-items: flex-end;
    height: 100%;

}
.header-menu-item{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    height: calc(50% + 7px);
    box-sizing: border-box;
    
}
.header-menu-item:not(:last-child){
    margin-right: 20px;  
}
.header-menu-item:hover
{
    border-bottom: 2px solid #18CFAB;
    transition: none;
    color:#18CFAB;
}
.header-menu-item:hover:last-child{
    border-bottom: none;
}
.wrapper-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}

.logo-text{
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
}
.text-color{
    color: #18CFAB;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 264px;
    color: #fff;
}

.text-one{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 22px;
}

.text-two{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    margin-bottom: 22px;
}
.text-three{
    font-weight: 200;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 134px;
}
.wrapper-button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    font-weight: 700;
    font-size: 15px;
    line-height: 2.1;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
    border-top: 4px solid #fff;
    border-radius: 4px;
    height: 62px;
    width: 168px;
    margin-bottom: 244px;
}
.button-explore{
    background: #18CFAB;
    margin-right: 26px;
    
    
}

.button-purchase{
    text-transform: uppercase;
    background: #00CBF6;
}

.content-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    text-transform: uppercase;
    border-top: 10px solid #fff;
    font-weight: 700;
    font-size: 20px;
    line-height:1.2;
    
}
.item-odd{
    background-color: #1C2A33;
    color: #18CFAB;
}
.item-even{
     background: #18CFAB; 
    color: #fff;
}
.content-item{
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img-even{
    margin-bottom: 58px;
}
.item-img-odd{
    margin-bottom: 48px;
}

.wrapper-service{
margin-bottom: 90px;
}
.title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 36px;
    line-height:1.2;
    color: #4E4E4E;
}

.title-service{
    margin-bottom: 26px;
    margin-top: 82px;
}
.service-tab{
    margin-bottom: 28px;
}
.service-list{
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 15.9859px;
line-height: 2.4;
color: #717171;
margin-top: 68px;

}
.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    height: 72px;
    width: 192px;
    cursor: pointer;
    box-sizing: border-box;
}
.service-item:hover{
    border:1.5px solid #18CFAB;

}
.service-item.active-tab{
    color: #FFFFFF;
    background:#18CFAB;
    position: relative;
    border: none;
}
.active-tab::after{
    content:'\25BC';
    color: #18CFAB;
    top: 58px;
    position: absolute;
}

.service-tab-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height:1.6;
    color: #777777;
}
.service-text{
    display: block;
}
.service-tab-item{
    display: none;
    
}
.service-tab-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
}

.img-service{
    margin-right: 14px;
    width: 192px;
    height: 139px;

}

.wrapper-buy-and-install{
    background-image: url(../img/SectionsBackground/bg2-instal.png);
    
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-buy-and-install{
    text-transform: uppercase;
    background-color: #18CFAB;
    margin-bottom: 126px;
}

.title-buy-and-install{
    font-weight: 700;
    font-size: 40px;
    line-height:1;
    color: #18CFAB;
    text-transform: uppercase;
    margin-top: 126px;
    margin-bottom: 12px;
}
.text-buy-and-install{
    font-size: 16px;
    line-height:2.5;
    color: #D8D8D8;
    margin-bottom: 62px;
}

.wrapper-work{
    background: #E9EDEF;
}
.text-work{
    margin-bottom: 20px;
    margin-top: 96px;
}

.work-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 68px;
}
.button-filter{
    font-weight: 400;
    font-size: 14px;
    line-height:3;
    color: #717171;
    border: 1px solid #DADADA;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
.loader {
    width: 16px;
    height: 16px;
    position: relative;
    animation: rotate 1s linear infinite
  }
  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

.button-filter:first-child{
    padding-right: 28px;
    padding-left: 28px;
}

.active-tab-filter{
    color: #18CFAB;
    border: 1px solid #18CFAB;
    cursor: pointer;
}

.work-images{
    display: grid;
    grid-template-columns: repeat(4, 285px);
    margin-bottom: 70px;
}

.wrapper-section-work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-button-work{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.creative-design-h{
    font-weight: 700;
    font-size: 14.1771px;
    line-height:1.8;
    color: #18CFAB;

}
.creative-design-span{
    font-weight: 300;
    font-size: 12.1518px;
    line-height:2;
    color: #8A8A8A;
}
.wrapper-image-work{
    position: relative;
}
.work-image-item{
    position: relative;
    cursor: pointer;
}
.work-image-item:hover .creative-design-box{
    display: flex;
}
.creative-design-box{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 206px;
    width: 286px;
    position: absolute;
    top: 0px;
    background: #E9EDEF;
    border-top: 4px solid #18CFAB;
}
.btn-design{
    display: flex;
}
.creative-design-link{
    display: block;
    text-decoration: none;
    border: 1px solid #18CFAB;
    margin-right: 4px;
    border-radius: 30px;
    width: 41px;
    height: 40px;
    background-color: #E9EDEF;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(../img/link.png)
}
.creative-design-square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    width: 41px;
    height: 40px;
    background-color: #18CFAB;
    fill: #fff;
    cursor: pointer;
}
.button-work{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height:3;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    width: 168px;
    height: 63px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    cursor: pointer;
}
.img-more{
    margin-right: 14px;
}
.text-breaking-news{
    margin-bottom: 24px;
    margin-top: 82px;
}
.wrapper-breaking-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.wrapper-breaking-news-images{
    display: grid;
    grid-template-columns: repeat(4, 263px);
    row-gap: 44px;
    column-gap: 34px;
    margin-bottom: 128px;
    margin-top: 68px;

}
.breaking-news-img{
    position: relative;
}
.breaking-news-item{
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.breaking-news-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: #203E38;
    position: absolute;
    top: 0px;
    left: 193px;

  
}
.breaking-news-title{
    font-weight: 700;
    font-size: 18px;
    line-height:2.16;
    color: #717171;
}
.breaking-news-text{
    font-weight: 300;
    font-size: 14px;
    line-height:2.8;
    color: #717171;
}

.breaking-news-text-decor{
    margin-left: 26px;
    position: relative;
}
.breaking-news-text-decor::before{
    content: "\0964";
    color: #717171;
    position: absolute;
    left: -18px;

}	

.breaking-news-item:hover .breaking-news-title{
    color: #18CFAB;
}


.breaking-news-item:hover .breaking-news-data{
    background-color: #18CFAB;

}

.wrapper-reviews{
    background-image: url(../img/SectionsBackground/section-3.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}
.text-reviews{
    margin-top: 98px;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 36px;
    line-height:1;
    color: #FFFFFF;
}
.user-reviews{
    position: relative;
}
.user-item-reviews{
    cursor: pointer;
    position: relative;
}
.user-reviews::before{
    content: "\275B""\275B";
    text-align: center;
    font-size: 78px;
    color: #18CFAB;
    position: absolute;
    top: -86px;
    left: 48%;
}
.user-reviews-text{
    text-align: center;
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300;
    font-size: 16px;
    line-height:1.8;
    color: #BBBBBB;
    margin-bottom: 36px;
    margin-top: 136px;
    display: none;
}
.active-text{
    display: block;
}
.wrapper-name-proffesion-user-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.name-user-reviews{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: #18CFAB;
    margin-bottom: 6px;
}
.proffesion-user-reviews{
    font-weight: 300;
    font-size: 10px;
    line-height:1.8;
    color: #BBBBBB;
}
.wrapper-icon-user-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}
.icon-user-reviews{
    border: 12px solid rgba(39, 97, 80, 0.341);
    border-radius: 50%;
    box-sizing: content-box;
    width: 142px;
    height: 142px;
    
    
}
.wrapper-user-list-reviews{
    padding-bottom: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 108px;
}
.swiper-wrapper{
    display: flex;
    margin-right: 26px;
}
.user-list-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-users-reviews{
    border: 8px solid rgba(39, 97, 80, 0.341);
    border-radius: 50%;
    box-sizing: content-box;
    width: 59px;
    height: 59px;
    /* position: relative; */

    
}
.icon-users-reviews:last-child{
    margin-right: 0;
}
.icon-active{
    top:-10px;
}
.user-item-reviews:not(:last-child){
    margin-right: 26px;
}
.wrapper-user-reviews{
    display: none;
}
.wrapper-user-reviews-active{
    display: block;
}
.arrow{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #BBBBBB;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    
    
}
.arrow-svg{
    fill:#BBBBBB;
}
.arrow-back
{
    margin-right: 30px;
}
.arrow-next{
    margin-left: 30px;
}

.arrow:hover{
 background-color: #18CFAB;
 border-color: #18CFAB;

}
.arrow:hover .arrow-svg{
    fill: #FFFFFF;
}

.galerry-grid-imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4px;
    column-gap: 4px;
    margin-top: 4px;
    margin-bottom: 16px;}
.gallery-wrapper-imgs{
display: flex;
justify-content: center;
align-items: center;
}
.gallery-image1{
    margin-right: 2px;
}
.gallery-image{
    width: 180px;
    height: 168px;
}
.gallery-container-box{
    position: relative;
}
.wrapper-zoom-search{
    display: flex;
    position: absolute;
    right: 270px;
}

.gallery-image1{
    position: relative;
}
.search,
.zoom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14B9D5;
    width: 27px;
    height: 25px;
}
.search{
    margin-right: 20px;
}
.gallery-image2{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.64);
    width: 180px;
    height: 168px;}
.gallery-conteiner-one{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.gallery-conteiner-two{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.gallery-conteiner-three{
    display: flex;
    flex-direction: column;
}
.wrapper-gallery{
    width: 1160px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
    margin-top: 82px;
    
}
.gallery-conteiner-one-item:not(:last-child),
.gallery-conteiner-two-item:not(:last-child){
    margin-bottom: 20px;
}
.text-gallery{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36px;
    line-height:1.1;
    color: #4E4E4E;
}
.wrapper-button-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.button-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height:3;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    width: 168px;
    height: 63px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22353F;
    height: 121px;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height:1.8;
}
.stick1,
.stick2 {
    background-color: #18CFAB;
    height: 1px;
    margin-top: 3px;
}
.midle-stick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stick1 {
    margin-right: 26px;
    width: 76px;
}

.stick2 {
    width: 78px;
    
}
