.background{
    background-image: url(../img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.header {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 80px;
    /* margin-bottom: 54px; */

    
}
.logo-text{
    font-weight: 700;
    font-size: 22px; 
    line-height: 1;
    color: #fff;
}
.text {
    font-family: 'Ubuntu', sans-serif;
}
.header-list {
    display: flex;

    align-items: center;
}
.list-item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #fff;
}
.header-link {
    text-decoration: none;
    color: #fff;
    transition: color 1s ease;
}
.header-link:hover {
    color: #01813F;
}
.svg {
    fill:#fff;
    transition: fill 1s ease;
    
}
.svg:hover
{
    fill: #01813F;
    
}
.list-item-border::after {
    content: "\007C";
    color: #fff;
    position: relative;
    top: -6px;
    margin-left: 25px;
    opacity: 0.5; 
}
.list-item {
    margin-right: 26px;
}
.list-item:last-child {
    margin-right: 0px;
}
.main-content-wrapper{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -222px;
} 
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    Width: 444px;
    Height: 584px;
    position: relative;
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.text-sign-up{
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #434343;
}
.text-sign-up::before {
    content: "";
    display: block;
    border: 1px solid #3CB878;
    width: 18px;
    height: 18px;
    background-color:#3CB878;
    position: absolute;
    left: 0;
}
.link-log {
    text-decoration: none;
    color: #3CB878;
    transition: color  1s ease ;
}
.link-log:hover {
    text-decoration: underline;
    color: #01813F;
}
.button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.link-facebook,
.link-google {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    width: 160px;
    height: 48px;
}
.link-facebook {
    display: flex;
    align-items: center;
    background-color: #305DB8;
    padding-left: 16px;
    border-radius: 4px;
    margin-right: 4px;
    transition: background-color 1s ease;

}
.link-google {
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-radius: 4px;
    background-color: #DF4A32;
    transition: background-color 1s ease;
}
.text-google::before {
    content: "\23D0";
    color: #2B0D09;
    opacity: 0.1; 
    margin-right: 30px;
    margin-left: 7px;
    width: 1px;
    height: 28px;

}
.text-facebok::before {
    content: "\23D0";
    color: #0A162F;
    opacity: 0.1; 
    margin-right: 18px;
    margin-left: 18px;
}
.link-facebook:hover,
.link-facebook:focus {
    cursor: pointer;
    background-color:#022263;
    ;
}
.link-google:hover,
.link-google:focus {
    cursor: pointer;
    background-color:#AB1F09;
}
.text-or{
    display: block;
    text-align: center;
    position: relative;
}
.text-or::before {
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    bottom: 4px;
}
.text-or::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    right: 2px;
    top:10px;
    
}

.form {
    display: flex;
    flex-direction: column;
}
.input {
    margin-bottom: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
}
.input:first-child{
    margin-top: 12px;
}
.input:active,
.input:focus-visible {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.input-link {
    text-decoration: none;
    color: #3CB878;
    transition: background-color 1s ease;
    
}
.input-link:hover,
.input-linkfocus {
    text-decoration: underline;
    color: #01813F;
}
.agree{
    margin-bottom: 20px;
}
.button-creat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3CB878;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 16px 98px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 1s ease;
}
.button-creat:hover,
.button-creat:focus{
    background: #01813F;

}

.checkbox{ 
    position: relative;
    margin-bottom: 20px;
}
 .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}
.checkbox-input+.checkbox-label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox-input+.checkbox-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
}
.checkbox-input:checked+label::before{
    background-image: url(../img/галочка.svg);
}
