.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonOpen{
  color: #fff;
  background-color: #8d478e;
  padding: 12px 14px;
  border-radius: 50%;
  border: none;
}
.buttonClose{
  color: #fff;
  background-color: #c7a5a5;
  margin-bottom: 20px;
  padding: 12px 14px;
  border-radius: 50%;
  border: none;
}
.wrapper-button{
  margin-top: 50px;
}
#root{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


button:first-child{
  margin-right: 20px;
}


.modal-background{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 2%;
  background-color: #fff;
  position: relative;
    z-index: 2;
    margin-top: 16%;
}