.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cars__list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 54px;
  margin: 40px;
  background-color: #e5e7ec;
  border-radius: 18px;

}

img{
  max-width: 500px;

}

.wrapper-img{
  margin-top: 40px;
}
.wrapper-button{
  padding-bottom: 20px;
}

.button{
  color: #fff;
  background-color: black;
  border: none;
  padding:14px 20px;
  border-radius: 16px;
}


.addToBasket{
  border: none;
  background-color: #e5e7ec;
  
}

.cars__list{
  padding-bottom: 32px;
  padding: 41px 13px;
}

.addToFavorite{
  padding-right: 20px;
}