body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-open{
  color: #fff;
  background-color: #8d478e;
  padding: 12px 6px;
  border-radius: 50%;
  border: none;
}
.button-close{
  color: black;
  margin-bottom: 20px;
  /* m-width: 14px;
  max-height: 8px; */
}
.wrapper-button{
  margin-top: 50px;
}
#root{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


button:first-child{
  margin-right: 20px;
}


.modal-background{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  max-width: 300px;
  max-height: 500px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
    z-index: 2;
    margin-top: 16%;
}