td:nth-child(even){
    background: #F2F2F2;
}

.table {
    border: 20px solid #3A4965;;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
}

.table-titlle{
    height: 115px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #484848;
    border-bottom: 10px solid #3A4965;
}
.table-column{
    width: 160px;
    vertical-align: middle;
    border-bottom: 1px solid #d2d2d2;  
}
.table-column:first-child{
    border-bottom: none;
}
.table-column:first-child{
    width: 200px;
    
}
.table-column-choose{
    background: #FAFAFA;
}

.tittle-choose{
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
}
.tittle-pricing{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}
.table-row{
    height: 168px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
     
}
.pricing-plan{
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 16px;
}
.table-column-standart{
    background: #89C331;
}
.name-pricing-plan{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #F2F2F2;
}
.pricing-first{
    font-weight: 700;
    font-size: 36px;
    line-height:0.8;
    margin-right: 28px;
    
}
.cent-pricing{
    position: absolute;
    top: -8px;
    left: 74px;
    font-weight: 700;
    font-size: 18px;
    line-height:1.4;

}
.text-per-month{
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
}
.input{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding: 8px 28px;
    border-radius: 4px;
    border-bottom: 4px solid #343434;
    text-decoration: none;
    color: #FFFFFF;
    background: #414141;
}
.table-column-ultimate{
    background: #F04A56;
}
.table-column-premium{
    background: #20807C;
}